fieldset{
    border: 2px solid black
}
legend{
    border: 2px solid black;
    background-color: snow;
}
#ph{
    background-color: yellowgreen;
}
#layer{
    background-color: crimson;
}
#jr{
    background-color: pink;
}